body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  height: 100%;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  max-width: 1244px;
  margin: auto;
  min-height: 100vh;
  overflow: auto;
}

.header {
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: grey;
  position: sticky;
  
  .logo{
    max-width: 282px;
    margin-right: auto;
  }
  .right {
    margin-left: auto;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
      align-items: center;

      li {
        margin-left: 15px;
        margin-right: 5px;
      }
    }
  }
    
}



.switch-container {
  display: flex;
  align-items: center;
  width: 200px;
  margin-right: 10px !important;

  .react-switch-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #E8E8F4 !important;
  }

    .react-switch-handle {
      height: 100% !important;
      width: 55% !important;
      background: #3C83F6 !important;
      display: inline-block;
      cursor: pointer;
      border-radius: 60px !important;
      position: absolute;
      top: 5px;
      outline: 0;
      border: 0;
      transition: background-color 0.25s ease, transform 0.25s ease, box-shadow 0.15s ease !important;
      transform: translateX(0%);
    }

  

  &.switched {
    flex-direction: row-reverse;
  }

  .switch-label {
    margin: 0 10px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #6B7280;
  }

  .react-switch {
    display: flex;
    align-items: center;
    width: 100%;
  }
}





